<a href="https://colab.research.google.com/github/revathiarigela/COGNIFYZ/blob/main/COGNIFYZ_LEVEL_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LEVEL 2 TASK 1

Task1

Determine the percentage of restaurants thatoffer table booking and online delivery.

Compare the average ratings of restaurantswith table booking and those without.

Analyze the availability of online deliveryamong restaurants with different price ranges

In [ ]:
# import python libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [ ]:
# import csv file
df = pd.read_csv('/content/Dataset.csv', encoding= 'unicode_escape')

In [ ]:
# Count the occurrences of 'Yes' and 'No' for table booking
table_booking_counts = df['Has Table booking'].value_counts()

# Calculate the percentage of restaurants that offer table booking
percentage_table_booking = (table_booking_counts['Yes'] / len(df)) * 100

# Count the occurrences of 'Yes' and 'No' for online delivery
online_delivery_counts = df['Has Online delivery'].value_counts()

# Calculate the percentage of restaurants that offer online delivery
percentage_online_delivery = (online_delivery_counts['Yes'] / len(df)) * 100

# Display the results
print(f"Percentage of restaurants that offer table booking: {percentage_table_booking:.2f}%")
print(f"Percentage of restaurants that offer online delivery: {percentage_online_delivery:.2f}%")

Percentage of restaurants that offer table booking: 12.12%
Percentage of restaurants that offer online delivery: 25.66%

In [ ]:
# Calculate the total number of restaurants in each price range
total_restaurants_by_price_range = df['Price range'].value_counts()

# Initialize a dictionary to store the percentage of restaurants offering online delivery for each price range
percentage_online_delivery_by_price_range = {}

# Calculate the percentage of restaurants offering online delivery for each price range
for price_range in total_restaurants_by_price_range.index:
    # Filter the DataFrame for the current price range
    subset_df = df[df['Price range'] == price_range]

    # Count the occurrences of 'Yes' and 'No' for online delivery in the subset DataFrame
    online_delivery_counts = subset_df['Has Online delivery'].value_counts()

    # Calculate the percentage of 'Yes' (online delivery) for the current price range
    percentage_online_delivery = (online_delivery_counts.get('Yes', 0) / total_restaurants_by_price_range[price_range]) * 100

    # Store the percentage in the dictionary
    percentage_online_delivery_by_price_range[price_range] = percentage_online_delivery

# Display the result
print("Percentage of Restaurants Offering Online Delivery by Price Range:")
print(percentage_online_delivery_by_price_range)

Percentage of Restaurants Offering Online Delivery by Price Range:
{1: 15.774077407740775, 2: 41.310632830067455, 3: 29.19034090909091, 4: 9.044368600682594}

TASK 2


Task: Price Range Analysis Determine the most common price range among all the restaurants.

Calculate the average rating for each price range.

Identify the color that represents the highest average rating among different price ranges.

In [ ]:
price_range_counts = df['Price range'].value_counts()

# Get the most common price range (the one with the highest count)
most_common_price_range = price_range_counts.idxmax()

# Display the result
print("Most Common Price Range:", most_common_price_range)

Most Common Price Range: 1

In [ ]:
# Calculate the average rating for each price range
average_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()

# Display the result
print("Average Rating for Each Price Range:")
print(average_rating_by_price_range)

Average Rating for Each Price Range:
Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

In [ ]:
# Calculate the average rating for each price range
average_rating_by_price_range = df.groupby('Price range')['Aggregate rating'].mean()

# Get the price range with the highest average rating
highest_average_rating_price_range = average_rating_by_price_range.idxmax()

# Filter the DataFrame to get the rows for the price range with the highest average rating
highest_rating_rows = df[df['Price range'] == highest_average_rating_price_range]

# Get the color associated with the highest average rating
highest_average_rating_color = highest_rating_rows['Rating color'].iloc[0]

# Display the result
print("Color that Represents the Highest Average Rating:", highest_average_rating_color)

Color that Represents the Highest Average Rating: Green

TASK 3

Task: Feature Engineering

Extract additional features from the existingcolumns, such as the length of the restaurantname or address.

Create new features like "Has Table Booking"or "Has Online Delivery" by encodingcategorical variables.

In [ ]:
# Assuming your DataFrame is named 'df'

# Create new columns for the length of the restaurant name and address
df['Restaurant Name Length'] = df['Restaurant Name'].apply(lambda x: len(x))
df['Address Length'] = df['Address'].apply(lambda x: len(x))

# Display the updated DataFrame with the new columns
print(df)

      ï»¿Restaurant ID           Restaurant Name  Country Code  \
0              6317637          Le Petit Souffle           162
1              6304287          Izakaya Kikufuji           162
2              6300002    Heat - Edsa Shangri-La           162
3              6318506                      Ooma           162
4              6314302               Sambo Kojin           162
...                ...                       ...           ...
9546           5915730              NamlÛ± Gurme           208
9547           5908749         Ceviz Aï¿½ï¿½acÛ±           208
9548           5915807                     Huqqa           208
9549           5916112         Aï¿½ï¿½ï¿½k Kahve           208
9550           5927402  Walter's Coffee Roastery           208

                  City                                            Address  \
0          Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1          Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                ...                                                ...
9546     ï¿½ï¿½stanbul  Kemankeï¿½ï¿½ Karamustafa Paï¿½ï¿½a Mahallesi,...
9547     ï¿½ï¿½stanbul  Koï¿½ï¿½uyolu Mahallesi, Muhittin ï¿½ï¿½stï¿½_...
9548     ï¿½ï¿½stanbul  Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Cadd...
9549     ï¿½ï¿½stanbul  Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Cadd...
9550     ï¿½ï¿½stanbul  Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 2...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                  Karakï¿½_y
9547                               Koï¿½ï¿½uyolu
9548                           Kuruï¿½_eï¿½ï¿½me
9549                           Kuruï¿½_eï¿½ï¿½me
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                          Karakï¿½_y, ï¿½ï¿½stanbul   28.977392
9547                       Koï¿½ï¿½uyolu, ï¿½ï¿½stanbul   29.041297
9548                   Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul   29.034640
9549                   Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul   29.036019
9550                                Moda, ï¿½ï¿½stanbul   29.026016

       Latitude                          Cuisines  ...  Has Online delivery  \
0     14.565443        French, Japanese, Desserts  ...                   No
1     14.553708                          Japanese  ...                   No
2     14.581404  Seafood, Asian, Filipino, Indian  ...                   No
3     14.585318                   Japanese, Sushi  ...                   No
4     14.584450                  Japanese, Korean  ...                   No
...         ...                               ...  ...                  ...
9546  41.022793                           Turkish  ...                   No
9547  41.009847   World Cuisine, Patisserie, Cafe  ...                   No
9548  41.055817            Italian, World Cuisine  ...                   No
9549  41.057979                   Restaurant Cafe  ...                   No
9550  40.984776                              Cafe  ...                   No

     Is delivering now Switch to order menu Price range Aggregate rating  \
0                   No                   No           3              4.8
1                   No                   No           3              4.5
2                   No                   No           4              4.4
3                   No                   No           4              4.9
4                   No                   No           4              4.8
...                ...                  ...         ...              ...
9546                No                   No           3              4.1
9547                No                   No           3              4.2
9548                No                   No           4              3.7
9549                No                   No           4              4.0
9550                No                   No           2              4.0

     Rating color  Rating text  Votes Restaurant Name Length Address Length
0      Dark Green    Excellent    314                     16             71
1      Dark Green    Excellent    591                     16             67
2           Green    Very Good    270                     22             56
3      Dark Green    Excellent    365                      4             70
4      Dark Green    Excellent    229                     11             64
...           ...          ...    ...                    ...            ...
9546        Green    Very Good    788                     12            123
9547        Green    Very Good   1034                     17             98
9548       Yellow         Good    661                      5             91
9549        Green    Very Good    901                     17             93
9550        Green    Very Good    591                     24             77

[9551 rows x 23 columns]

In [ ]:
# Assuming your DataFrame is named 'df'

# Convert 'Has Table booking' column to a binary numerical feature
df['Has Table Booking'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})

# Convert 'Has Online delivery' column to a binary numerical feature
df['Has Online Delivery'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

# Display the updated DataFrame with the new binary numerical features
print(df)

      ï»¿Restaurant ID           Restaurant Name  Country Code  \
0              6317637          Le Petit Souffle           162
1              6304287          Izakaya Kikufuji           162
2              6300002    Heat - Edsa Shangri-La           162
3              6318506                      Ooma           162
4              6314302               Sambo Kojin           162
...                ...                       ...           ...
9546           5915730              NamlÛ± Gurme           208
9547           5908749         Ceviz Aï¿½ï¿½acÛ±           208
9548           5915807                     Huqqa           208
9549           5916112         Aï¿½ï¿½ï¿½k Kahve           208
9550           5927402  Walter's Coffee Roastery           208

                  City                                            Address  \
0          Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1          Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                ...                                                ...
9546     ï¿½ï¿½stanbul  Kemankeï¿½ï¿½ Karamustafa Paï¿½ï¿½a Mahallesi,...
9547     ï¿½ï¿½stanbul  Koï¿½ï¿½uyolu Mahallesi, Muhittin ï¿½ï¿½stï¿½_...
9548     ï¿½ï¿½stanbul  Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Cadd...
9549     ï¿½ï¿½stanbul  Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Cadd...
9550     ï¿½ï¿½stanbul  Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 2...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                  Karakï¿½_y
9547                               Koï¿½ï¿½uyolu
9548                           Kuruï¿½_eï¿½ï¿½me
9549                           Kuruï¿½_eï¿½ï¿½me
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                          Karakï¿½_y, ï¿½ï¿½stanbul   28.977392
9547                       Koï¿½ï¿½uyolu, ï¿½ï¿½stanbul   29.041297
9548                   Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul   29.034640
9549                   Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul   29.036019
9550                                Moda, ï¿½ï¿½stanbul   29.026016

       Latitude                          Cuisines  ...  Switch to order menu  \
0     14.565443        French, Japanese, Desserts  ...                    No
1     14.553708                          Japanese  ...                    No
2     14.581404  Seafood, Asian, Filipino, Indian  ...                    No
3     14.585318                   Japanese, Sushi  ...                    No
4     14.584450                  Japanese, Korean  ...                    No
...         ...                               ...  ...                   ...
9546  41.022793                           Turkish  ...                    No
9547  41.009847   World Cuisine, Patisserie, Cafe  ...                    No
9548  41.055817            Italian, World Cuisine  ...                    No
9549  41.057979                   Restaurant Cafe  ...                    No
9550  40.984776                              Cafe  ...                    No

     Price range Aggregate rating Rating color Rating text Votes  \
0              3              4.8   Dark Green   Excellent   314
1              3              4.5   Dark Green   Excellent   591
2              4              4.4        Green   Very Good   270
3              4              4.9   Dark Green   Excellent   365
4              4              4.8   Dark Green   Excellent   229
...          ...              ...          ...         ...   ...
9546           3              4.1        Green   Very Good   788
9547           3              4.2        Green   Very Good  1034
9548           4              3.7       Yellow        Good   661
9549           4              4.0        Green   Very Good   901
9550           2              4.0        Green   Very Good   591

      Restaurant Name Length  Address Length Has Table Booking  \
0                         16              71                 1
1                         16              67                 1
2                         22              56                 1
3                          4              70                 0
4                         11              64                 1
...                      ...             ...               ...
9546                      12             123                 0
9547                      17              98                 0
9548                       5              91                 0
9549                      17              93                 0
9550                      24              77                 0

     Has Online Delivery
0                      0
1                      0
2                      0
3                      0
4                      0
...                  ...
9546                   0
9547                   0
9548                   0
9549                   0
9550                   0

[9551 rows x 25 columns]